<div class="donator box col-xs-3">
  <div class="name">
    <%= donator.name %>
  </div>
  <% if donator.link_url %>
    <div class="link">
      <%= link_to donator.link_name, donator.link_url %>
    </div>
  <% end %>
</div>