<div class="donator box col-xs-3">
  <div class="image">
    <%= image_tag donator.image_url %>
  </div>
  <div class="name">
    <%= donator.name %>
  </div>
  <div class="description">
    <%= donator.description %>
  </div>
  <div class="link">
    <%= link_to donator.link_name, donator.link_url %>
  </div>
</div>