<div class="row">
  <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">
    <div class="box donator-message">
      Thanks to all those listed below for their generous contributions. Your help keeps Scenario Generator running and helps bring new games to the site.
    </div>
  </div>
</div>

<div class="donators">
  <%= render partial: 'donator/donator', collection: @donators %>
</div>