<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <div class="box donator-message">
      <div>
        Thanks to all those listed below for their generous contributions.
        Your help keeps Scenario Generator running and helps bring new games to the site.
      </div>
      <div>
        If you donate you can have your name, a small avatar, and a (no-follow) link to your personal site listed below.
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="donators">
    <%= render partial: 'donator/donator', collection: @donators.shuffle %>
  </div>
</div>

<script>
  $('.image-holder').height($('.image-holder').parent().height());
</script>