<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <div class="box donator-message">
      <div>
        Thanks to all those listed below for their generous contributions.
      </div>
      <div>
        If you donate you can have your name, a small avatar, and a link to a site of your choosing below.
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="donators">
    <%= render partial: 'donator/donator', collection: @donators.shuffle %>
  </div>
</div>