<div class="row">
  <div class="col-xs-12 col-sm-6 col-sm-offset-3">
    <div class="box spoiler-alert">
      <div class="title">
        SPOILER ALERT
      </div>
      <div class="text">
        This <%= 'rest of this' unless @scenario[:regular].empty? %> generator contains major spoilers for the plot of the game.
      </div>
      <div class="text">
        This warning will appear until you click the button below.
      </div>
      <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
          <a href="<%= accept_path(game_name: @game_name) %>">
            <div class="box button spoiler-button">
              I understand
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>