@import 'bootstrap'

body
  background: #212D42

.generator-links
  .generator
    margin-top: 50px
    overflow: hidden
    height: 150px
    text-align: center
    img
      position: relative
      right: 100%
    & > a
      height: 40px
      display: block
      background-color: rgba(255,255,255,0.1)
      -webkit-border-top-left-radius: 15px
      -webkit-border-top-right-radius: 15px
      -moz-border-radius-topleft: 15px
      -moz-border-radius-topright: 15px
      border-top-left-radius: 15px
      border-top-right-radius: 15px
      .link
        display: block
        padding-top: 10px