.ad
  &.bottom
    margin-top: 25px
    margin-bottom: 25px
    & > div
      text-align: center
      & > *
        display: inline-block

.request
  display: none
  height: 90px

.btc-donation-holder
  text-align: center
  .btc-donation-image
    display: inline-block
    text-align: center
    margin-top: 10px
    &.hidden-xs
      position: relative
      left: 50px
    iframe
      width: 156px !important

.paypal-donation-holder
  text-align: center
  .row
    text-align: center
    .paypal
      display: inline-block
      float: none
      margin-top: -10px
      img
        position: absolute
  .paypal-donate-button
    display: block
    width: auto
    font-size: 17px
    padding: 20px 30px
  .a, .b, .c, .d
    width: auto !important
    height: 55px
    margin-top: 10px

.application
  .paypal
    margin-top: -15px
    margin-left: 10px

@media (min-width: 1024px)
  .application
    .paypal
      margin-top: -25px

.social-buttons
  margin-top: 10px
  .twitter-follow-button
    width: 61px !important
  .twitter-share-button
    width: 100px !important

.donation-box
  margin-top: 25px
  .donation-message
    margin-bottom: 10px

.tenner
  margin-bottom: 15px
