$roll-button-colour: #F59D38
$red: #DB1E18

.button, a .button
  cursor: pointer
  background: $roll-button-colour
  font-size: 19px
  border-radius: 10px
  border-width: 2px
  color: black
  border: solid 2px black
  &:focus
    text-decoration: none !important
    color: black !important
  &:hover
    text-decoration: none !important
    color: black !important
    background-color: darken($roll-button-colour, 5%) !important
  &:active
    background-color: darken($roll-button-colour, 10%) !important
  &.previous
    margin-top: -5px
    margin-bottom: 10px
  &.next
    margin-top: -5px
    margin-bottom: 0px
  a:hover
    color: black !important
    background-color: darken($roll-button-colour, 5%) !important
  a:active
    background-color: darken($roll-button-colour, 10%) !important
  &.blue
    background: $red
    &:hover
      background-color: darken($red, 5%) !important
    &:active
      background-color: darken($red, 10%) !important

.previous-padding
  height: 56px

a
  text-decoration: none !important
  &:hover, &:active, &:focus
    text-decoration: none !important

.title
  a
    color: #aabdd1
    &:focus
      text-decoration: none !important
      color: darken(#aabdd1, 5%)
    &:hover
      text-decoration: none !important
      color: darken(#aabdd1, 5%)

a .spoiler-button
  margin-top: 25px

.unsubscribe
  margin-top: 25px
  .flash
    font-size: 14px
    margin-top: 10px
    color: red

.errors, .success
  font-size: 14px
.errors
  color: red
.success
  color: green

.spam-message
  font-size: 12px