<h2 class='box reroll-column-button button' id='<%= title.to_s.downcase.tr(" ", "_") %>-button'>
  <%= title %>
  <div class="reroll-column-button-button">Reroll column</div>
</h2>
<%= render partial: 'scenario_item', collection: items %>