<div class="row generator-links">
  <% @games.each do |key, value| %>
    <div class="col-xs-3 generator">
      <%= link_to content_tag('div', value, class: 'link'), generator_path(game: key) %>
      <%= link_to image_tag(asset_path("#{key}.png")), generator_path(game: key) %>
    </div>
  <% end %>
</div>