<div class="row controls">
  <div class="col-xs-4 col-sm-3">
    <% if @buy_link %>
      <%= link_to 'Get this game', @buy_link, class: 'button box blue', id: 'buy-game-link' %>
    <% end %>
  </div>
  <div class="col-xs-8 col-sm-4 col-sm-offset-1">
    <div class="box button reroll-button">
      Click to reroll
      <div class="loading"><%= image_tag 'loading.gif' %></div>
    </div>
  </div>
  <div class="col-xs-4 col-sm-2 col-sm-offset-2">
    <div class="button save-button box">
      Save
    </div>
    <div class="box link-to-generator">
      <input type='textfield' class='input'>
      <%= link_to 'link', '', class: 'link' %>
    </div>
  </div>
</div>

<div id="generator-columns">
  <%= render partial: 'scenario/generator/scenario' %>
</div>