<div class="row scenario-sections">
  <div class="col-sm-offset-1 col-sm-2 section">
    <%= render partial: 'scenario_section', locals: { title: :Biome, items: @biome } %>
  </div>
  <div class="col-sm-offset-0 col-sm-3 col-md-2 section">
    <%= render partial: 'scenario_section', locals: { title: :Surroundings, items: @surroundings } %>
  </div>
  <div class="col-sm-offset-0 col-sm-3 section">
    <%= render partial: 'scenario_section', locals: { title: :Challenges, items: @challenges } %>
  </div>
  <div class="col-sm-offset-0 col-sm-2 col-md-3">
    <%= render partial: 'scenario_section', locals: { title: :Goals, items: @goals } %>
  </div>
</div>