@import 'bootstrap'

.navbar-inner
  margin-top: 50px
  text-align: center

body
  color: black
  font-size: 17px
  font-family: 'Lato', sans-serif
  background-size: cover

.box
  &.spoiler-alert
    .title
      font-size: 30px
    .text
      font-size: 18px

.spoiler-scenarios
  display: none

h2
  font-weight: bold
  font-size: 21px

.reroll-column-button-button
  font-size: 12px

.other-button
  margin-top: 27px

.info-column
  padding-top: 3px
  .info-marker
    padding-top: 2px
    color: white
    border-radius: 5px
    content: 'i'
    background: blue
    display: block
    width: 25px
    height: 25px
    &:hover
      .info
        display: block
    .info
      color: black
      display: none
      width: 200px
      padding: 15px
      background-color: #f5f5f5
      font-size: 14px
      border: 2px solid black
      position: relative
      left: 28px
      top: -20px
      z-index: 9999

.subscribe-title, .suggestion-title
  font-weight: bold