@import 'bootstrap'

.navbar-inner
  margin-top: 50px
  text-align: center

body
  color: black
  font-size: 17px
  font-family: 'Lato', sans-serif

.box
  &.spoiler-alert
    .title
      font-size: 30px
    .text
      font-size: 18px

.spoiler-scenarios
  display: none

h2
  font-weight: bold
  font-size: 21px

.reroll-column-button-button
  font-size: 12px

.other-button
  margin-top: 27px

.top-ad
  padding: 0px
  text-align: center
  ins
    display: inline

.bottom-ad
  text-align: center
  margin-bottom: 15px
  ins
    display: inline