<div class="container">
  <div class="row">
    <div class="col-xs-12 top-centered-bar">
      <%= link_to image_tag('gmg-wide.jpg'),
                  get_path( url: @buy_link,
                            site: @buy_site,
                            location: 'header') %>
    </div>
  </div>
</div>