<div class="row">
  <div class="col-xs-12 col-sm-6">
    <span class="text">
      Help keep Scenario Generator up-to-date and running by donating today.
      Donators can also have their name listed
      <% if controller == 'donator' %>
        below.
      <% else %>
        on the
        <%= link_to 'site\'s donator list', '/donators' %>.
      <% end %>
    </span>
  </div>
  <div class="col-xs-12 col-sm-6">
    <div class="row">
      <%= render partial: 'common/paypal_button' %>
      <div class="col-xs-6 btc-donation-holder">
        <span class="btc-donation-image">
          <a class="coinbase-button" data-code="e8f8c8233d32310169df5c0470fae3d3" data-button-style="custom_small" href="https://www.coinbase.com/checkouts/e8f8c8233d32310169df5c0470fae3d3">Donate Bitcoin</a>
        </span>
      </div>
    </div>
  </div>
</div>

<%= render partial: 'common/donation_goal_bar' %>