@import 'bootstrap'
$roll-button-colour: #F59D38

.navbar-inner
  margin-top: 50px
  text-align: center

body
  color: black
  font-size: 17px
  font-family: 'Lato', sans-serif

.box
  text-align: center
  background-color: rgba(#f5f5f5, .97)
  padding: 10px
  margin-bottom: 25px
  border: 2px solid
  display: block
  &.spoiler-alert
    .title
      font-size: 30px
    .text
      font-size: 18px

.spoiler-scenarios
  display: none

h2
  font-weight: bold
  font-size: 21px

a:focus
  text-decoration: none !important
  color: black !important
a:hover
  text-decoration: none !important
  color: black !important
  background-color: darken($roll-button-colour, 5%) !important
a:active
  background-color: darken($roll-button-colour, 10%) !important


.button, a .button
  cursor: pointer
  background: $roll-button-colour
  font-size: 19px
  width: 100%
  border-radius: 10px
  border-width: 2px
  color: black
  border: solid 2px black
  &:focus
    text-decoration: none !important
    color: black !important
  &:hover
    text-decoration: none !important
    color: black !important
    background-color: darken($roll-button-colour, 5%) !important
  &:active
    background-color: darken($roll-button-colour, 10%) !important

a .spoiler-button
  margin-top: 25px


.reroll-column-button-button
  font-size: 12px

.other-button
  margin-top: 27px

.top-ad
  padding: 0px
  text-align: center
  ins
    display: inline

.bottom-ad
  text-align: center
  margin-bottom: 15px
  ins
    display: inline