@import 'bootstrap'

body
  background: #476079
  color: #aabdd1
  font-family: 'Lato', sans-serif
  font-size: 17px

.title
  text-align: center
  font-size: 40px
  margin: 50px 0px

.generator
  margin-top: 10px
  overflow: hidden
  text-align: center
  .link-header
    height: 50px
    font-size: 20px
    background-color: white
    border-radius: 15px
    text-align: center
    display: block
    padding-top: 10px
    &:hover, &:active, &:focus
      text-decoration: none
    .link-text
      display: block

.suggestion, .subscribe
  margin-top: 25px