<div class="bottom-ad">
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- Scenario Generator responsive -->
  <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="ca-pub-2676186968823013"
       data-ad-slot="7119208686"
       data-ad-format="auto"></ins>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>