<div class="row ad bottom">
  <div class="col-xs-10 col-xs-offset-1 hide-on-blocking hidden-xs" id="desktop-tablet-wonderful">
    <!-- Project Wonderful Ad Box Code -->
    <div id="pw_adbox_75597_5_0"></div>
    <script type="text/javascript"></script>
    <noscript><map name="admap75597" id="admap75597"><area href="http://www.projectwonderful.com/out_nojs.php?r=0&c=0&id=75597&type=5" shape="rect" coords="0,0,728,90" title="" alt="" target="_blank" rel="nofollow" /></map>
    <table cellpadding="0" cellspacing="0" style="width:728px;border-style:none;background-color:#ffffff;"><tr><td><img src="http://www.projectwonderful.com/nojs.php?id=75597&type=5" style="width:728px;height:90px;border-style:none;" usemap="#admap75597" alt="" /></td></tr><tr><td style="background-color:#ffffff;" colspan="1"><center><a style="font-size:10px;color:#0000ff;text-decoration:none;line-height:1.2;font-weight:bold;font-family:Tahoma, verdana,arial,helvetica,sans-serif;text-transform: none;letter-spacing:normal;text-shadow:none;white-space:normal;word-spacing:normal;" href="http://www.projectwonderful.com/advertisehere.php?id=75597&type=5&tag=106826" target="_blank">Ads by Project Wonderful!  Your ad here, right now: $0.30</a></center></td></tr></table>
    </noscript>
    <!-- End Project Wonderful Ad Box Code -->
  </div>
  <div class="col-xs-10 col-xs-offset-1 hide-on-blocking visible-xs" id="mobile-wonderful">
    <!-- Project Wonderful Ad Box Code -->
    <div id="pw_adbox_75689_6_0"></div>
    <script type="text/javascript"></script>
    <noscript><map name="admap75689" id="admap75689"><area href="http://www.projectwonderful.com/out_nojs.php?r=0&c=0&id=75689&type=6" shape="rect" coords="0,0,234,60" title="" alt="" target="_blank" rel="nofollow" /></map>
    <table cellpadding="0" cellspacing="0" style="width:234px;border-style:none;background-color:#ffffff;"><tr><td><img src="http://www.projectwonderful.com/nojs.php?id=75689&type=6" style="width:234px;height:60px;border-style:none;" usemap="#admap75689" alt="" /></td></tr><tr><td style="background-color:#ffffff;" colspan="1"><center><a style="font-size:10px;color:#0000ff;text-decoration:none;line-height:1.2;font-weight:bold;font-family:Tahoma, verdana,arial,helvetica,sans-serif;text-transform: none;letter-spacing:normal;text-shadow:none;white-space:normal;word-spacing:normal;" href="http://www.projectwonderful.com/advertisehere.php?id=75689&type=6" target="_blank">Your ad here, right now: $0.20</a></center></td></tr></table>
    </noscript>
    <!-- End Project Wonderful Ad Box Code -->
  </div>
</div>