<div class="box request" style='display: none;'>
  This site is supported by ads. If you like this site, it'd be great if you could unblock them.
</div>
<div class="row bottom-ad">
  <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-0 hide-on-blocking">
    <!-- Project Wonderful Ad Box Code -->
    <div style="text-align:center;"><div style="display:inline-block;" id="pw_adbox_75597_1_0">
    </div></div>
    <script type="text/javascript"></script>
    <noscript><div style="text-align:center;"><div style="display:inline-block;"><map name="admap75597" id="admap75597"><area href="http://www.projectwonderful.com/out_nojs.php?r=0&c=0&id=75597&type=1" shape="rect" coords="0,0,468,60" title="" alt="" target="_blank" /></map>
    <table cellpadding="0" cellspacing="0" style="width:468px;border-style:none;background-color:#ffffff;"><tr><td><img src="http://www.projectwonderful.com/nojs.php?id=75597&type=1" style="width:468px;height:60px;border-style:none;" usemap="#admap75597" alt="" /></td></tr><tr><td style="background-color:#ffffff;" colspan="1"><center><a style="font-size:10px;color:#0000ff;text-decoration:none;line-height:1.2;font-weight:bold;font-family:Tahoma, verdana,arial,helvetica,sans-serif;text-transform: none;letter-spacing:normal;text-shadow:none;white-space:normal;word-spacing:normal;" href="http://www.projectwonderful.com/advertisehere.php?id=75597&type=1" target="_blank">Ads by Project Wonderful!  Your ad here, right now: $0</a></center></td></tr></table></div></div>
    </noscript>
    <!-- End Project Wonderful Ad Box Code -->
  </div>
  <div class="col-xs-10 col-xs-offset-1 col-md-offset-0 col-md-6 hide-on-blocking">
    <style>
      .scenario-generator-responsive {
        width: 100%; height: 60px; 
      }
      @media(min-width: 500px) { 
        .scenario-generator-responsive { 
          width: 100%; height: 60px; 
        }
      }
      @media(min-width: 800px) {
        .scenario-generator-responsive {
          width: 100%; height: 60px;
        }
      }
    </style>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- Scenario Generator responsive -->
    <ins class="adsbygoogle scenario-generator-responsive"
         style="display:inline-block"
         data-ad-client="ca-pub-2676186968823013"
         data-ad-slot="7119208686"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
</div>