<div class="footer">
  <div class="container">
    <div class="row text-muted">
      <div class="col-xs-6">
        Source available on 
        <%= link_to 'Github', 'https://github.com/Lockyy/dwarf-fortress-scenario-picker' %>
      </div>
      <div class="col-xs-6 right">
        Related project: <%= link_to 'Tales from the Fortress', 'https://talesfromthefortress.com' %>
      </div>
    </div>
    <p class="text-muted">
    </p>
  </div>
</div>

