<header class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <div class="row">
        <h1 class="box">Dwarf Fortress Scenario Generator</h1>
      </div>
    </div>
  </div>
</header>

<div class="row">
  <div class="col-lg-3 col-lg-offset-4">
    <div class="box reroll-button">
      <%= link_to "Reroll", root_url %>
    </div>
  </div>
</div>