<div class="row navbar navbar-inner">
  <h1 class="box col-sm-offset-2 col-sm-8">
    Dwarf Fortress Scenario Generator
  </h1>
</div>

<div class="row">
  <div class="col-sm-offset-5 col-sm-2">
    <%= link_to "Reroll", root_url, class: 'box reroll-button' %>
  </div>
</div>