<div class="row navbar navbar-inner">
  <h1 class="col-sm-offset-2 col-sm-8">
    <div class="box">
      Dwarf Fortress Scenario Generator
    </div>
  </h1>
</div>

<div class="row">
  <div class="col-xs-offset-2 col-xs-8 col-sm-offset-5 col-sm-2">
    <%= link_to "Click to reroll", root_url, class: 'box reroll-button' %>
  </div>
</div>

<div class="row">
  <div class="col-sm-offset-3 col-sm-6">
    <div class="box">
      If two sections conflict either reroll or choose one to ignore
    </div>
  </div>
</div>