<div class="row navbar navbar-inner">
  <div class="col-xs-4 col-sm-2">
    <%= link_to "Other Games", '' , class: 'box other-button menu-toggle' %>
    <span class="twitter">
      <a href="https://twitter.com/share" class="twitter-share-button" data-text="Check out this challenge generator for <%= @title %>">Tweet</a>
    </span>
  </div>
  <h1 class="col-xs-8">
    <div class="box">
      Scenario Generator for <%= @title %>
    </div>
  </h1>
</div>

<div class="row">
  <div class="col-xs-offset-1 col-xs-10 col-sm-offset-3 col-sm-6">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <%= link_to "Click to reroll", '' , class: 'box reroll-button' %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="box">
          If a column is too hard or conflicts with another you can reroll it clicking the orange header buttons!
        </div>
      </div>
    </div>
  </div>
</div>
