<div class="row navbar navbar-inner">
  <div class="col-xs-4 col-sm-2">
    <%= link_to "Other Games", '' , class: 'box other-button menu-toggle' %>
  </div>
  <h1 class="col-xs-8">
    <div class="box">
      Challenge Generator for <%= @title %>
    </div>
  </h1>
</div>

<div class="row">
  <div class="col-xs-offset-2 col-xs-8 col-sm-offset-4 col-sm-4">
    <%= link_to "Click to reroll", '' , class: 'box reroll-button' %>
  </div>
</div>

<div class="row">
  <div class="col-sm-offset-3 col-sm-6">
    <div class="box">
      If a section is too hard or conflicts with another you can choose to ignore it, or reroll
    </div>
  </div>
</div>