<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="menu-toggle">
            <a href="#">Close Menu</a>
        </li>
        <% @games.each do |key, value| %>
            <li>
                <%= link_to value, generator_path(game: key) %>
            </li>
        <% end %>
    </ul>
</div>