<div class="box spoiler-alert">
  <div class="title">
    SPOILER ALERT
  </div>
  <div class="text">
    This generator contains major spoilers for the plot of the game.
  </div>
  <div class="text">
    This warning will only appear on your first visit.
  </div>
  <div class="text">
    Scroll down to view your scenario.
  </div>
</div>