<div class="row bottom-ad">
  <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">
    <style>
      .scenario-generator-responsive {
        width: 100%; height: 60px; 
      }
      @media(min-width: 500px) { 
        .scenario-generator-responsive { 
          width: 100%; height: 60px; 
        }
      }
      @media(min-width: 800px) {
        .scenario-generator-responsive {
          width: 100%; height: 60px;
        }
      }
    </style>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- Scenario Generator responsive -->
    <ins class="adsbygoogle scenario-generator-responsive"
         style="display:inline-block"
         data-ad-client="ca-pub-2676186968823013"
         data-ad-slot="7119208686"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
</div>